NODE_ENV=development
PORT=3000

DB_URI=mongodb://127.0.0.1:27017
DB_NAME=bildyapp

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bildyapp_audit
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/bildyapp_audit

JWT_SECRET=minimum_32_characters

SLACK_WEBHOOK=your_slack_webhook

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password